body {
  display: flex;
  flex-direction: column;

}

nav {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
}

img {
  max-width: 300px;
}

nav ul {
  display: flex;
  list-style: none;
  /* position: relative; */
}

nav ul li {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
  text-decoration: none;
  position: relative;
  transition: all .2s;
  display: inline-block;
}

nav ul li a::after {
  content: '';
  height: 2px;
  width: 0;
  /* position: absolute; */
  background: red;
  transition: all .2s ease-in;
  display: block;
}

nav ul li a:hover::after{
  width: 100%;
}

/* nav ul li:hover {
  transform: scale(1.2);
  color: red;
  border-bottom: 1px solid red;
} */

nav ul a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

input, textarea {
  display: block;
  margin: 10px 0;
}

.mainTitle {
  align-self: center;
}

.headerimage {
  max-width: 50%;
  align-self: center;
}

.centered {
  align-self: center;
}

.content {
  margin: 0 10%;
}

.Rivals {
  display: flex;
}

.Rivals li {
  list-style: none;
}

.Rivals li h3 {
  text-align: center;
}
